resource_group_name  = "rg-tfstate-shared-brazilsouth"
storage_account_name = "sttfstatefelipe01"
container_name       = "tfstate"
key                  = "environments/azure/dev.tfstate"
use_azuread_auth     = true
