environment          = "dev"
project_name         = "devops"
resource_group_name  = "rg-devops-dev"
storage_account_name = "stfeezzndev"

account_replication_type      = "LRS"
delete_retention_days         = 7
public_network_access_enabled = true

containers = ["container-dev"]

tags = {
  owner = "Infrastructure Team"
}
